<a href="https://colab.research.google.com/github/Krystalz2018/SVM_prediction/blob/main/syrup_production_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Daily Precipitation.csv to Daily Precipitation.csv
Saving Daily Soil Mositure.csv to Daily Soil Mositure.csv
Saving Daily Temperature.csv to Daily Temperature.csv
Saving Eight Day NDVI.csv to Eight Day NDVI.csv
Saving Production Quantity.csv to Production Quantity.csv

In [2]:
import io
import pandas as pd
import numpy as np
percipitation = pd.read_csv(io.BytesIO(uploaded['Daily Precipitation.csv']))
soil = pd.read_csv(io.BytesIO(uploaded['Daily Soil Mositure.csv']))
temperature = pd.read_csv(io.BytesIO(uploaded['Daily Temperature.csv']))
NDVI = pd.read_csv(io.BytesIO(uploaded['Eight Day NDVI.csv']))
production_quantity = pd.read_csv(io.BytesIO(uploaded['Production Quantity.csv']))

First I will groupby the percipitation, soil, temperature and NDVI data using year and month. and then I will combine them with the production in respective date for my model building.

In [3]:
percipitation.head()

                 start_date                  end_date     precip  region_id
0  2014-01-01T00:00:00.000Z  2014-01-01T00:00:00.000Z   1.392393         93
1  2014-01-02T00:00:00.000Z  2014-01-02T00:00:00.000Z   0.315380         93
2  2014-01-03T00:00:00.000Z  2014-01-03T00:00:00.000Z   2.347846         93
3  2014-01-04T00:00:00.000Z  2014-01-04T00:00:00.000Z  21.466357         93
4  2014-01-05T00:00:00.000Z  2014-01-05T00:00:00.000Z  32.823651         93

In [4]:
percipitation['year'] = pd.to_datetime(percipitation.start_date).dt.year
percipitation['month'] = pd.to_datetime(percipitation.start_date).dt.month
group1 = percipitation.groupby(['year', 'month']).sum().reset_index()
group1

    year  month       precip  region_id
0   2014      1  1176.375213      30690
1   2014      2   398.785653      27720
2   2014      3  2008.844979      30690
3   2014      4  2941.900539      29700
4   2014      5  3064.141433      30690
..   ...    ...          ...        ...
94  2021     11  3059.851405      29700
95  2021     12  2872.624468      30690
96  2022      1  1268.163614      30690
97  2022      2  3393.950845      27720
98  2022      3   937.437454      12870

[99 rows x 4 columns]

In [5]:
group1.iloc[:,0:3]

    year  month       precip
0   2014      1  1176.375213
1   2014      2   398.785653
2   2014      3  2008.844979
3   2014      4  2941.900539
4   2014      5  3064.141433
..   ...    ...          ...
94  2021     11  3059.851405
95  2021     12  2872.624468
96  2022      1  1268.163614
97  2022      2  3393.950845
98  2022      3   937.437454

[99 rows x 3 columns]

In [7]:
soil.head()

,start_date,end_date,smos,region_id,year,month
0,2014-01-01T00:00:00.000Z,2014-01-01T00:00:00.000Z,0.310787,93,2014,1
1,2014-01-02T00:00:00.000Z,2014-01-02T00:00:00.000Z,0.192271,93,2014,1
2,2014-01-03T00:00:00.000Z,2014-01-03T00:00:00.000Z,0.265683,93,2014,1
3,2014-01-04T00:00:00.000Z,2014-01-04T00:00:00.000Z,0.265683,93,2014,1
4,2014-01-05T00:00:00.000Z,2014-01-05T00:00:00.000Z,0.230782,93,2014,1

In [6]:
soil['year'] = pd.to_datetime(soil.start_date).dt.year
soil['month'] = pd.to_datetime(soil.start_date).dt.month
group2 = soil.groupby(['year', 'month']).sum().reset_index()
group2

    year  month        smos  region_id
0   2014      1   86.768681      30690
1   2014      2   69.821505      27720
2   2014      3   74.370433      30690
3   2014      4   70.900122      29700
4   2014      5   75.706701      30690
..   ...    ...         ...        ...
94  2021     11  102.989309      28915
95  2021     12  103.003425      28896
96  2022      1  112.405853      30497
97  2022      2  104.197857      27126
98  2022      3   22.294479       5846

[99 rows x 4 columns]

In [8]:
group2.iloc[:,0:3]

    year  month        smos
0   2014      1   86.768681
1   2014      2   69.821505
2   2014      3   74.370433
3   2014      4   70.900122
4   2014      5   75.706701
..   ...    ...         ...
94  2021     11  102.989309
95  2021     12  103.003425
96  2022      1  112.405853
97  2022      2  104.197857
98  2022      3   22.294479

[99 rows x 3 columns]

In [9]:
temperature.head()

                 start_date                  end_date       temp  region_id
0  2014-01-02T00:00:00.000Z  2014-01-02T00:00:00.000Z  24.707605         93
1  2014-01-11T00:00:00.000Z  2014-01-11T00:00:00.000Z  26.421176         93
2  2014-01-15T00:00:00.000Z  2014-01-15T00:00:00.000Z  24.305642         93
3  2014-01-20T00:00:00.000Z  2014-01-20T00:00:00.000Z  25.142744         93
4  2014-01-23T00:00:00.000Z  2014-01-23T00:00:00.000Z  23.653173         93

In [10]:
temperature['year'] = pd.to_datetime(temperature.start_date).dt.year
temperature['month'] = pd.to_datetime(temperature.start_date).dt.month
group3 = temperature.groupby(['year', 'month']).mean().reset_index()
group3

    year  month       temp  region_id
0   2014      1  24.329243  98.587838
1   2014      2  26.372440  98.906103
2   2014      3  27.840244  99.060748
3   2014      4  26.395596  99.182353
4   2014      5  25.311771  99.455090
..   ...    ...        ...        ...
94  2021     11  25.779901  99.455882
95  2021     12  25.857554  98.802198
96  2022      1  27.134638  98.375758
97  2022      2  27.613655  99.294737
98  2022      3  27.440000  98.486111

[99 rows x 4 columns]

In [11]:
group3.iloc[:,0:3]

    year  month       temp
0   2014      1  24.329243
1   2014      2  26.372440
2   2014      3  27.840244
3   2014      4  26.395596
4   2014      5  25.311771
..   ...    ...        ...
94  2021     11  25.779901
95  2021     12  25.857554
96  2022      1  27.134638
97  2022      2  27.613655
98  2022      3  27.440000

[99 rows x 3 columns]

In [12]:
NDVI.head()

                 start_date                  end_date      ndvi  region_id
0  2013-12-27T00:00:00.000Z  2014-01-03T00:00:00.000Z  0.679106         93
1  2014-01-01T00:00:00.000Z  2014-01-08T00:00:00.000Z  0.701431         93
2  2014-01-09T00:00:00.000Z  2014-01-16T00:00:00.000Z  0.745149         93
3  2014-01-17T00:00:00.000Z  2014-01-24T00:00:00.000Z  0.747391         93
4  2014-01-25T00:00:00.000Z  2014-02-01T00:00:00.000Z  0.768325         93

In [13]:
NDVI['year'] = pd.to_datetime(NDVI.start_date).dt.year
NDVI['month'] = pd.to_datetime(NDVI.start_date).dt.month
group4 = NDVI.groupby(['year', 'month']).mean().reset_index()
group4

    year  month      ndvi  region_id
0   2013     12  0.744614  98.857143
1   2014      1  0.767099  98.580645
2   2014      2  0.764008  98.923077
3   2014      3  0.755824  99.242424
4   2014      4  0.782554  99.000000
..   ...    ...       ...        ...
95  2021     11  0.815173  98.870968
96  2021     12  0.809898  98.470588
97  2022      1  0.804939  99.026316
98  2022      2  0.804086  98.727273
99  2022      3  0.807689  99.000000

[100 rows x 4 columns]

In [14]:
group4.iloc[1:100,0:3]

    year  month      ndvi
1   2014      1  0.767099
2   2014      2  0.764008
3   2014      3  0.755824
4   2014      4  0.782554
5   2014      5  0.803742
..   ...    ...       ...
95  2021     11  0.815173
96  2021     12  0.809898
97  2022      1  0.804939
98  2022      2  0.804086
99  2022      3  0.807689

[99 rows x 3 columns]

In [15]:
production_quantity.head()

                 start_date                  end_date    prod  region_id
0  2015-01-01T00:00:00.000Z  2015-01-31T00:00:00.000Z  171725         93
1  2015-02-01T00:00:00.000Z  2015-02-28T00:00:00.000Z  188325         93
2  2015-03-01T00:00:00.000Z  2015-03-31T00:00:00.000Z  247856         93
3  2015-04-01T00:00:00.000Z  2015-04-30T00:00:00.000Z  282791         93
4  2015-05-01T00:00:00.000Z  2015-05-31T00:00:00.000Z  291057         93

In [16]:
production_quantity['year'] = pd.to_datetime(production_quantity.start_date).dt.year
production_quantity['month'] = pd.to_datetime(production_quantity.start_date).dt.month
group5 = production_quantity.groupby(['year', 'month']).sum().reset_index()
group5

    year  month     prod  region_id
0   2015      1  1149403        990
1   2015      2  1109353        990
2   2015      3  1476830        990
3   2015      4  1675049        990
4   2015      5  1790152        990
..   ...    ...      ...        ...
67  2020      8  1846230        990
68  2020      9  1852739        990
69  2020     10  1711262        990
70  2020     11  1480695        990
71  2020     12  1323012        990

[72 rows x 4 columns]

In [17]:
merge1 = pd.merge(group5, group4, how='left', on=['year', 'month'])
merge1

    year  month     prod  region_id_x      ndvi  region_id_y
0   2015      1  1149403          990  0.765153    98.648649
1   2015      2  1109353          990  0.757016    98.947368
2   2015      3  1476830          990  0.757462    99.000000
3   2015      4  1675049          990  0.777145    99.148148
4   2015      5  1790152          990  0.802823    98.972973
..   ...    ...      ...          ...       ...          ...
67  2020      8  1846230          990  0.817843    99.000000
68  2020      9  1852739          990  0.813437    99.081081
69  2020     10  1711262          990  0.820761    99.071429
70  2020     11  1480695          990  0.812049    99.125000
71  2020     12  1323012          990  0.811183    98.681818

[72 rows x 6 columns]

In [18]:
merge2 = pd.merge(group5, group3, how='left', on=['year', 'month'])
merge2

    year  month     prod  region_id_x       temp  region_id_y
0   2015      1  1149403          990  24.878109    98.660714
1   2015      2  1109353          990  26.269102    98.718919
2   2015      3  1476830          990  26.962245    99.191176
3   2015      4  1675049          990  26.244691    99.424242
4   2015      5  1790152          990  25.330221    99.388571
..   ...    ...      ...          ...        ...          ...
67  2020      8  1846230          990  27.060771    99.534722
68  2020      9  1852739          990  27.215247    99.526316
69  2020     10  1711262          990  27.167178    98.788235
70  2020     11  1480695          990  25.622195    99.732394
71  2020     12  1323012          990  24.825073    99.349398

[72 rows x 6 columns]

In [19]:
merge3 = pd.merge(group5, group2, how='left', on=['year', 'month'])
merge3

    year  month     prod  region_id_x        smos  region_id_y
0   2015      1  1149403          990   90.331394        29306
1   2015      2  1109353          990   72.392165        27720
2   2015      3  1476830          990   68.611206        29700
3   2015      4  1675049          990   70.428552        29700
4   2015      5  1790152          990   70.971349        30690
..   ...    ...      ...          ...         ...          ...
67  2020      8  1846230          990   81.261205        30070
68  2020      9  1852739          990   84.132815        29490
69  2020     10  1711262          990   87.229262        29275
70  2020     11  1480695          990   96.860011        29490
71  2020     12  1323012          990  105.480416        30690

[72 rows x 6 columns]

In [20]:
merge4 = pd.merge(group5, group1, how='left', on=['year', 'month'])
merge4

    year  month     prod  region_id_x       precip  region_id_y
0   2015      1  1149403          990  1332.910649        30690
1   2015      2  1109353          990   609.399687        27720
2   2015      3  1476830          990  1204.618027        30690
3   2015      4  1675049          990  2480.186327        29700
4   2015      5  1790152          990  2826.495489        30690
..   ...    ...      ...          ...          ...          ...
67  2020      8  1846230          990  1836.043880        30690
68  2020      9  1852739          990  2585.076965        29700
69  2020     10  1711262          990  2307.890441        30690
70  2020     11  1480695          990  3148.844076        29700
71  2020     12  1323012          990  2459.007805        30690

[72 rows x 6 columns]

In [21]:
complete = merge4.iloc[:,0:3]
complete['precip'] = merge4.precip
complete['soil'] = merge3.smos
complete['temp'] = merge2.temp
complete['ndvi'] = merge1.ndvi
complete

    year  month     prod       precip        soil       temp      ndvi
0   2015      1  1149403  1332.910649   90.331394  24.878109  0.765153
1   2015      2  1109353   609.399687   72.392165  26.269102  0.757016
2   2015      3  1476830  1204.618027   68.611206  26.962245  0.757462
3   2015      4  1675049  2480.186327   70.428552  26.244691  0.777145
4   2015      5  1790152  2826.495489   70.971349  25.330221  0.802823
..   ...    ...      ...          ...         ...        ...       ...
67  2020      8  1846230  1836.043880   81.261205  27.060771  0.817843
68  2020      9  1852739  2585.076965   84.132815  27.215247  0.813437
69  2020     10  1711262  2307.890441   87.229262  27.167178  0.820761
70  2020     11  1480695  3148.844076   96.860011  25.622195  0.812049
71  2020     12  1323012  2459.007805  105.480416  24.825073  0.811183

[72 rows x 7 columns]

In [22]:
x = complete.iloc[:,3:7]
y = complete.iloc[:,2]

After having a complete set of my data, I will use the precip, soil, temp, ndvi to predict the production accordingly and use the model with best score for prediction in the prediction dataset.

In [23]:
import sklearn.linear_model
reg = sklearn.linear_model.LinearRegression().fit(x,y)
reg.score(x,y)

0.26865750470115346

In [24]:
re = sklearn.linear_model.Ridge(alpha=.8).fit(x,y)
re.score(x,y)

0.245563378851127

In [25]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(x, y)
clf.score(x,y)

1.0

It looks that the model is best fit using SVM, so I will choose SVM in the following prediction.

In [26]:
from google.colab import files
uploaded = files.upload()

Saving predicted_production_qty.csv to predicted_production_qty.csv

In [27]:
predicted = pd.read_csv(io.BytesIO(uploaded['predicted_production_qty.csv']))
predicted.head()

                 start_date                  end_date  prod  region_id
0  2021-01-01T00:00:00.000Z  2021-01-31T00:00:00.000Z   NaN         93
1  2021-02-01T00:00:00.000Z  2021-02-28T00:00:00.000Z   NaN         93
2  2021-03-01T00:00:00.000Z  2021-03-31T00:00:00.000Z   NaN         93
3  2021-04-01T00:00:00.000Z  2021-04-30T00:00:00.000Z   NaN         93
4  2021-05-01T00:00:00.000Z  2021-05-31T00:00:00.000Z   NaN         93

In [28]:
predicted['year'] = pd.to_datetime(predicted.start_date).dt.year
predicted['month'] = pd.to_datetime(predicted.start_date).dt.month
group6 = predicted.groupby(['year', 'month']).sum().reset_index()
group6

    year  month  prod  region_id
0   2021      1   0.0        990
1   2021      2   0.0        990
2   2021      3   0.0        990
3   2021      4   0.0        990
4   2021      5   0.0        990
5   2021      6   0.0        990
6   2021      7   0.0        990
7   2021      8   0.0        990
8   2021      9   0.0        990
9   2021     10   0.0        990
10  2021     11   0.0        990
11  2021     12   0.0        990

In [30]:
merge5 = pd.merge(group6, group1, how='left', on=['year', 'month'])
merge5

    year  month  prod  region_id_x       precip  region_id_y
0   2021      1   0.0          990  2810.815175        30690
1   2021      2   0.0          990   466.812833        27720
2   2021      3   0.0          990  2595.858572        30690
3   2021      4   0.0          990  2516.465034        29700
4   2021      5   0.0          990  3116.795361        30690
5   2021      6   0.0          990  1719.712429        29700
6   2021      7   0.0          990  1703.708847        30690
7   2021      8   0.0          990  2395.107301        30690
8   2021      9   0.0          990  2573.153220        29700
9   2021     10   0.0          990  2175.680056        30690
10  2021     11   0.0          990  3059.851405        29700
11  2021     12   0.0          990  2872.624468        30690

In [31]:
merge6 = pd.merge(group6, group2, how='left', on=['year', 'month'])
merge6

    year  month  prod  region_id_x        smos  region_id_y
0   2021      1   0.0          990  104.801214        30690
1   2021      2   0.0          990   88.159716        27720
2   2021      3   0.0          990   88.701442        30690
3   2021      4   0.0          990   83.650384        29700
4   2021      5   0.0          990   79.926523        29224
5   2021      6   0.0          990   84.031279        29495
6   2021      7   0.0          990   75.940355        30394
7   2021      8   0.0          990   82.399781        30480
8   2021      9   0.0          990   87.566793        29700
9   2021     10   0.0          990   85.844143        29905
10  2021     11   0.0          990  102.989309        28915
11  2021     12   0.0          990  103.003425        28896

In [32]:
merge7 = pd.merge(group6, group3, how='left', on=['year', 'month'])
merge7

    year  month  prod  region_id_x       temp  region_id_y
0   2021      1   0.0          990  24.985233    99.000000
1   2021      2   0.0          990  26.977112    98.655172
2   2021      3   0.0          990  27.726707    98.923664
3   2021      4   0.0          990  27.098498    99.058824
4   2021      5   0.0          990  26.668545    99.357143
5   2021      6   0.0          990  25.954743    99.060976
6   2021      7   0.0          990  26.159738    99.717172
7   2021      8   0.0          990  26.292082    99.145631
8   2021      9   0.0          990  26.455555    99.009901
9   2021     10   0.0          990  27.191448    99.088235
10  2021     11   0.0          990  25.779901    99.455882
11  2021     12   0.0          990  25.857554    98.802198

In [33]:
merge8 = pd.merge(group6, group4, how='left', on=['year', 'month'])
merge8

    year  month  prod  region_id_x      ndvi  region_id_y
0   2021      1   0.0          990  0.804684    99.320000
1   2021      2   0.0          990  0.777552    98.736842
2   2021      3   0.0          990  0.790195    98.973684
3   2021      4   0.0          990  0.810823    99.000000
4   2021      5   0.0          990  0.822307    98.777778
5   2021      6   0.0          990  0.826986    99.000000
6   2021      7   0.0          990  0.820485    99.000000
7   2021      8   0.0          990  0.822101    99.419355
8   2021      9   0.0          990  0.809393    99.128205
9   2021     10   0.0          990  0.808639    98.923077
10  2021     11   0.0          990  0.815173    98.870968
11  2021     12   0.0          990  0.809898    98.470588

In [34]:
complete_new = merge6.iloc[:,0:3]
complete_new['precip'] = merge5.precip
complete_new['soil'] = merge6.smos
complete_new['temp'] = merge7.temp
complete_new['ndvi'] = merge8.ndvi
complete_new

    year  month  prod       precip        soil       temp      ndvi
0   2021      1   0.0  2810.815175  104.801214  24.985233  0.804684
1   2021      2   0.0   466.812833   88.159716  26.977112  0.777552
2   2021      3   0.0  2595.858572   88.701442  27.726707  0.790195
3   2021      4   0.0  2516.465034   83.650384  27.098498  0.810823
4   2021      5   0.0  3116.795361   79.926523  26.668545  0.822307
5   2021      6   0.0  1719.712429   84.031279  25.954743  0.826986
6   2021      7   0.0  1703.708847   75.940355  26.159738  0.820485
7   2021      8   0.0  2395.107301   82.399781  26.292082  0.822101
8   2021      9   0.0  2573.153220   87.566793  26.455555  0.809393
9   2021     10   0.0  2175.680056   85.844143  27.191448  0.808639
10  2021     11   0.0  3059.851405  102.989309  25.779901  0.815173
11  2021     12   0.0  2872.624468  103.003425  25.857554  0.809898

In [36]:
x_new = complete_new.iloc[:,3:7]
x_new

         precip        soil       temp      ndvi
0   2810.815175  104.801214  24.985233  0.804684
1    466.812833   88.159716  26.977112  0.777552
2   2595.858572   88.701442  27.726707  0.790195
3   2516.465034   83.650384  27.098498  0.810823
4   3116.795361   79.926523  26.668545  0.822307
5   1719.712429   84.031279  25.954743  0.826986
6   1703.708847   75.940355  26.159738  0.820485
7   2395.107301   82.399781  26.292082  0.822101
8   2573.153220   87.566793  26.455555  0.809393
9   2175.680056   85.844143  27.191448  0.808639
10  3059.851405  102.989309  25.779901  0.815173
11  2872.624468  103.003425  25.857554  0.809898

In [37]:
clf.predict(x_new)

array([1323012, 1272850, 1636201, 1852739, 1789153, 1814304, 1744617,
       1789153, 1852739, 1852739, 1480695, 1321968])

In [38]:
complete_new['prod'] = clf.predict(x_new)
complete_new

    year  month     prod       precip        soil       temp      ndvi
0   2021      1  1323012  2810.815175  104.801214  24.985233  0.804684
1   2021      2  1272850   466.812833   88.159716  26.977112  0.777552
2   2021      3  1636201  2595.858572   88.701442  27.726707  0.790195
3   2021      4  1852739  2516.465034   83.650384  27.098498  0.810823
4   2021      5  1789153  3116.795361   79.926523  26.668545  0.822307
5   2021      6  1814304  1719.712429   84.031279  25.954743  0.826986
6   2021      7  1744617  1703.708847   75.940355  26.159738  0.820485
7   2021      8  1789153  2395.107301   82.399781  26.292082  0.822101
8   2021      9  1852739  2573.153220   87.566793  26.455555  0.809393
9   2021     10  1852739  2175.680056   85.844143  27.191448  0.808639
10  2021     11  1480695  3059.851405  102.989309  25.779901  0.815173
11  2021     12  1321968  2872.624468  103.003425  25.857554  0.809898

In [39]:
complete_new['region_id'] = predicted.region_id
complete_new

,year,month,prod,precip,soil,temp,ndvi,region_id
0,2021,1,1323012,2810.815175,104.801214,24.985233,0.804684,93
1,2021,2,1272850,466.812833,88.159716,26.977112,0.777552,93
2,2021,3,1636201,2595.858572,88.701442,27.726707,0.790195,93
3,2021,4,1852739,2516.465034,83.650384,27.098498,0.810823,93
4,2021,5,1789153,3116.795361,79.926523,26.668545,0.822307,93
5,2021,6,1814304,1719.712429,84.031279,25.954743,0.826986,93
6,2021,7,1744617,1703.708847,75.940355,26.159738,0.820485,93
7,2021,8,1789153,2395.107301,82.399781,26.292082,0.822101,93
8,2021,9,1852739,2573.153220,87.566793,26.455555,0.809393,93
9,2021,10,1852739,2175.680056,85.844143,27.191448,0.808639,93
10,2021,11,1480695,3059.851405,102.989309,25.779901,0.815173,93
11,2021,12,1321968,2872.624468,103.003425,25.857554,0.809898,93

Finally I insert the clf predicted value into the prediction dataset and have a complete value for all the columns.